Doreck's Pandas Revison 
This is my attempt to teach myself some machine learning from home whilst taking care of a newborn. God help me!!

Pandas series creation syntax

In [10]:
import pandas as pd
l = [10,20,30,40]
pd.Series(l) # this outputs a series with a default index from 0
pd.Series(l,index= ['i', 'ii', 'iii', 'iv']) #this outputs a defined index

i      10
ii     20
iii    30
iv     40
dtype: int64

Pandas DataFrame creation syntax
First create a dictionary

In [12]:
d = {'Name' :['doreck', 'sara', 'kevin'], 'percentange' :[90,85,95]} #create a dictionary
pd.DataFrame(d)

     Name  percentange
0  doreck           90
1    sara           85
2   kevin           95

In [2]:
import pandas as pd
data = { 'Name' : [ 'Alice', 'Bob', 'Doreck'],
'Age' : [25,30,35],
'City' : ['Kampala', 'London', 'Mbale']}

df = pd.DataFrame(data)
print(df)

     Name  Age     City
0   Alice   25  Kampala
1     Bob   30   London
2  Doreck   35    Mbale