Pandas Assignment
Student Name:

Reg No:

Instructions:
Please complete the questions below.
Please comment your code indicating how you approached the problem

## Introduction to Pandas

In [ ]:
#Create a Pandas Series object containing the following data: 5, 10, 15, 20, 25. What is the average of the values in the Series?

In [ ]:
#Create a Pandas DataFrame object containing the following data: {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'Salary': [50000, 60000, 70000]}. What is the total salary of all employees?

## DataFrames and Series

In [ ]:
#Create a Pandas Series object containing the following data: [1, 2, 3, 4, 5]. Add 10 to each value in the Series.

In [ ]:
#Create a Pandas DataFrame object containing the following data: {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'Salary': [50000, 60000, 70000]}. Select only the rows where the Age is greater than 30.

## Loading Data into Pandas

In [ ]:
#Load a CSV file named 'diabetes.csv' into a Pandas DataFrame object. What are the names of the columns in the DataFrame?
#Please check your data folder for this dataset

In [ ]:
#Display the dimensions of the data

In [ ]:
#Display the top 10 rows

In [ ]:
#Display the last 10 rows

## Data Cleaning

In [ ]:
#Create a Pandas DataFrame object containing the following data: {'Name': ['Alice', 'Bob', 'Charlie', 'Dave', 'Eve'], 'Age': [25, 30, None, 35, 40], 'Salary': [50000, None, 70000, 80000, 90000]}. Remove all rows with missing values

In [ ]:
#Create a Pandas DataFrame object containing the following data: {'Name': ['Alice', 'Bob', 'Charlie', 'Dave', 'Eve'], 'Age': [25, 30, None, 35, 40], 'Salary': [50000, None, 70000, 80000, 90000]}. Fill all missing values with the average Age and the median Salary.

## Data Exploration

In [ ]:
#Create a Pandas DataFrame object containing the following data: {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'Salary': [50000, 60000, 70000]}. What is the maximum Age and minimum Salary in the DataFrame?

In [ ]:
#Create a Pandas DataFrame object containing the following data: {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'Salary': [50000, 60000, 70000]}. Calculate the correlation coefficient between Age and Salary.

## Grouping and Aggregating Data

In [ ]:
#Create a Pandas DataFrame object containing the following data: {'Name': ['Alice', 'Bob', 'Charlie', 'Dave', 'Eve'], 'Age': [25, 30, 35, 25, 30], 'Salary': [50000, 60000, 70000, 80000, 90000]}. Group the DataFrame by Age and calculate the mean Salary for each group.

## Reshaping Data

In [ ]:
#Create a Pandas DataFrame object containing the following data: {'Year': [2019, 2019, 2020, 2020], 'Quarter': ['Q1', 'Q2', 'Q1', 'Q2'], 'Sales': [100, 200, 300, 400]}. Pivot the DataFrame so that the rows are indexed by Year, the columns are indexed by Quarter, and the values are the Sales.

In [ ]:
#Create a Pandas DataFrame object containing the following data: {'Name': ['Alice', 'Bob', 'Charlie'], 'Gender': ['F', 'M', 'M'], 'Salary 2019': [50000, 60000, 70000], 'Salary 2020': [55000, 65000, 75000]}. Melt the DataFrame so that the variable column contains the years and the value column contains the salaries.

## Merging and Joining Data

In [ ]:
#Create two Pandas DataFrame objects, df1 and df2, containing the following data: df1 = {'key': ['A', 'B', 'C', 'D'], 'value': [1, 2, 3, 4]} and df2 = {'key': ['B', 'D', 'E', 'F'], 'value': [5, 6, 7, 8]}. Merge the two DataFrames using an inner join on the 'key' column.

In [ ]:
#Create two Pandas DataFrame objects, df1 and df2, containing the following data: df1 = {'key': ['A', 'B', 'C', 'D'], 'value1': [1, 2, 3, 4]} and df2 = {'key': ['B', 'D', 'E', 'F'], 'value2': [5, 6, 7, 8]}. Perform a left join on df1 and df2 using the 'key' column as the join key.

## Mini Pandas Project

- Load the CSV file into a Pandas DataFrame object.
- Clean the data by removing any rows with missing values and any duplicate rows.
- Use NumPy to calculate the mean and standard deviation of the "births" column.
- Use Pandas to group the data by year and month, and calculate the mean number of births for each group.
- Use Matplotlib to create a line plot of the mean number of births per month over time.
- Use Pandas to group the data by day of the week, and calculate the mean number of births for each day.
- Use Matplotlib to create a bar chart of the mean number of births per day of the week.
- Use Pandas to group the data by year, and calculate the total number of births for each year.
- Use Matplotlib to create a bar chart of the total number of births per year.

>> NOTE: Below is boiler code for you to get started with.Please fill in the missing codes.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Load the CSV file into a Pandas DataFrame object
df = pd.read_csv("https://raw.githubusercontent.com/jakevdp/data-CDCbirths/master/births.csv")

# Clean the data by removing any rows with missing values and any duplicate rows
df = 
df = 

# Use NumPy to calculate the mean and standard deviation of the "births" column
mean = 
std_dev = 

# Use Pandas to group the data by year and month, and calculate the mean number of births for each group
df['date'] = pd.to_datetime(df['year']*10000 + df['month']*100 + df['day'], format='%Y%m%d')
grouped_by_month = 

# Use Matplotlib to create a line plot of the mean number of births per month over time
plt.plot(grouped_by_month)
plt.xlabel('Year-Month')
plt.ylabel('Mean Number of Births')
plt.title('Mean Number of Births per Month')
plt.show()

# Use Pandas to group the data by day of the week, and calculate the mean number of births for each day
df['day_of_week'] = df['date'].dt.day_name()
grouped_by_day_of_week = 

# Use Matplotlib to create a bar chart of the mean number of births per day of the week
plt.bar(grouped_by_day_of_week.index, grouped_by_day_of_week.values)
plt.xlabel('Day of the Week')
plt.ylabel('Mean Number of Births')
plt.title('Mean Number of Births per Day of the Week')
plt.show()

# Use Pandas to group the data by year, and calculate the total number of births for each year
grouped_by_year =

# Use Matplotlib to create a bar chart of the total number of births per year
plt.bar(grouped_by_year.index, grouped_by_year.values)
plt.xlabel('Year')
plt.ylabel('Total Number of Births')
plt.title('Total Number of Births per Year')
plt.show()