Pandas Assignment
Student Name:AINEMBABAZI MOSES

Reg No:2022/HD07/2039U

Instructions:
Please complete the questions below.
Please comment your code indicating how you approached the problem

## Introduction to Pandas

In [6]:
#Create a Pandas Series object containing the following data: 5, 10, 15, 20, 25. What is the average of the values in the Series?
# first import pandas
import pandas as pd

# construct a serie usind series() function
dseries = pd.Series([5, 10, 15, 20])

#calculate the mean of the series using mean() function
dseries = dseries.mean()

print(dseries)

12.5

In [10]:
#Create a Pandas DataFrame object containing the following data: {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'Salary': [50000, 60000, 70000]}. What is the total salary of all employees?

# Create a dictionary containing the data
data = {'Name': ['Alice', 'Bob', 'Charlie'], 
        'Age': [25, 30, 35], 
        'Salary': [50000, 60000, 70000]}

# Create a DataFrame object from the dictionary
df = pd.DataFrame(data)

# Calculate the total salary of all employees by using the `.sum()` method on the 'Salary' column
total_salary = df['Salary'].sum()

# Print the total salary of all employees
print(total_salary)

180000

## DataFrames and Series

In [11]:
#Create a Pandas Series object containing the following data: [1, 2, 3, 4, 5].
# Add 10 to each value in the Series.

# Create a Pandas Series object containing the data
data = pd.Series([1, 2, 3, 4, 5])

# Add 10 to each value in the Series using the `+` operator
data = data + 10

# Print the updated Series
print(data)

0    11
1    12
2    13
3    14
4    15
dtype: int64

In [12]:
#Create a Pandas DataFrame object containing the following data: {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'Salary': [50000, 60000, 70000]}. Select only the rows where the Age is greater than 30.
# Import the pandas library
import pandas as pd

# Create a dictionary containing the data
data = {'Name': ['Alice', 'Bob', 'Charlie'], 
        'Age': [25, 30, 35], 
        'Salary': [50000, 60000, 70000]}

# Create a DataFrame object from the dictionary
df = pd.DataFrame(data)

# Select only the rows where the Age is greater than 30 using boolean indexing
# First, create a boolean mask by comparing the 'Age' column to 30
mask = df['Age'] > 30

# Then, use the boolean mask to select only the rows where the Age is greater than 30
selected_rows = df[mask]

# Print the selected rows
print(selected_rows)

# Create a dictionary containing the data
data = {'Name': ['Alice', 'Bob', 'Charlie'], 
        'Age': [25, 30, 35], 
        'Salary': [50000, 60000, 70000]}

# Create a DataFrame object from the dictionary
df = pd.DataFrame(data)

# Select only the rows where the Age is greater than 30 using boolean indexing
# First, create a boolean mask by comparing the 'Age' column to 30
mask = df['Age'] > 30

# Then, use the boolean mask to select only the rows where the Age is greater than 30
selected_rows = df[mask]

# Print the selected rows
print(selected_rows)

      Name  Age  Salary
2  Charlie   35   70000
      Name  Age  Salary
2  Charlie   35   70000

## Loading Data into Pandas

In [19]:
#Load a CSV file named 'diabetes.csv' into a Pandas DataFrame object. What are the names of the columns in the DataFrame?
#Please check your data folder for this dataset

daf = pd.read_csv("../../Data/Diabetes/diabetes.csv")

print(daf.columns)

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [21]:
#Display the dimensions of the data
# Display the dimensions of the DataFrame
print("Dimensions of the DataFrame:", daf.shape)

Dimensions of the DataFrame: (768, 9)

In [24]:
#Display the top 10 rows
#use head function and specify by calling 10 top lines
print(daf.head(10))

   Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0            6      148             72             35        0  33.6
1            1       85             66             29        0  26.6
2            8      183             64              0        0  23.3
3            1       89             66             23       94  28.1
4            0      137             40             35      168  43.1
5            5      116             74              0        0  25.6
6            3       78             50             32       88  31.0
7           10      115              0              0        0  35.3
8            2      197             70             45      543  30.5
9            8      125             96              0        0   0.0

   DiabetesPedigreeFunction  Age  Outcome
0                     0.627   50        1
1                     0.351   31        0
2                     0.672   32        1
3                     0.167   21        0
4                     2.288   33        1
5                     0.201   30        0
6                     0.248   26        1
7                     0.134   29        0
8                     0.158   53        1
9                     0.232   54        1

In [26]:
#Display the last 10 rows

#selecting the top 10 rows using tail() function

print(daf.tail(10))

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
758            1      106             76              0        0  37.5
759            6      190             92              0        0  35.5
760            2       88             58             26       16  28.4
761            9      170             74             31        0  44.0
762            9       89             62              0        0  22.5
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age  Outcome
758                     0.197   26        0
759                     0.278   66        1
760                     0.766   22        0
761                     0.403   43        1
762                     0.142   33        0
763                     0.171   63        0
764                     0.340   27        0
765                     0.245   30        0
766                     0.349   47        1
767                     0.315   23        0

## Data Cleaning

In [27]:
#Create a Pandas DataFrame object containing the following data: {'Name': ['Alice', 'Bob', 'Charlie', 'Dave', 'Eve'], 'Age': [25, 30, None, 35, 40], 'Salary': [50000, None, 70000, 80000, 90000]}. 
# Remove all rows with missing values
import pandas as pd

# Create a Pandas DataFrame object
data = {'Name': ['Alice', 'Bob', 'Charlie', 'Dave', 'Eve'],
        'Age': [25, 30, None, 35, 40],
        'Salary': [50000, None, 70000, 80000, 90000]}

df = pd.DataFrame(data)  # Convert dictionary to DataFrame
print("Original DataFrame:")
print(df)

# Drop all rows with missing values and update the DataFrame in place
df.dropna(inplace=True)

print("\nDataFrame after dropping rows with missing values:")
print(df)

Original DataFrame:
      Name   Age   Salary
0    Alice  25.0  50000.0
1      Bob  30.0      NaN
2  Charlie   NaN  70000.0
3     Dave  35.0  80000.0
4      Eve  40.0  90000.0

DataFrame after dropping rows with missing values:
    Name   Age   Salary
0  Alice  25.0  50000.0
3   Dave  35.0  80000.0
4    Eve  40.0  90000.0

In [30]:
#Create a Pandas DataFrame object containing the following data: {'Name': ['Alice', 'Bob', 'Charlie', 'Dave', 'Eve'], 'Age': [25, 30, None, 35, 40], 'Salary': [50000, None, 70000, 80000, 90000]}. 
# Fill all missing values with the average Age and the median Salary.
import pandas as pd
import numpy as np

# create the DataFrame
moses = {'Name': ['Alice', 'Bob', 'Charlie', 'Dave', 'Eve'], 
        'Age': [25, 30, None, 35, 40], 
        'Salary': [50000, None, 70000, 80000, 90000]}
moses = pd.DataFrame(data)

# fill missing values with the average Age and median Salary
avg_age = moses['Age'].mean()  # calculate the average Age
median_salary = moses['Salary'].median()  # calculate the median Salary
moses.fillna({'Age': avg_age, 'Salary': median_salary}, inplace=True)

# print the updated DataFrame
print(moses)

      Name   Age   Salary
0    Alice  25.0  50000.0
1      Bob  30.0  75000.0
2  Charlie  32.5  70000.0
3     Dave  35.0  80000.0
4      Eve  40.0  90000.0

In [31]:
# let me try using a loop
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie', 'Dave', 'Eve'], 
        'Age': [25, 30, None, 35, 40], 
        'Salary': [50000, None, 70000, 80000, 90000]}

dforif = pd.DataFrame(data)

# loop through each column
for column in dforif.columns:
    # check if column has missing values
    if dforif[column].isna().any():
        # fill missing values with average or median depending on data type
        if dforif[column].dtype == 'float64':
            dforif[column] = dforif[column].fillna(dforif[column].median())
        else:
            dforif[column] = dforif[column].fillna(dfforif[column].mean())

print(dforif)

      Name   Age   Salary
0    Alice  25.0  50000.0
1      Bob  30.0  75000.0
2  Charlie  32.5  70000.0
3     Dave  35.0  80000.0
4      Eve  40.0  90000.0

## Data Exploration

In [32]:
#Create a Pandas DataFrame object containing the following data: {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'Salary': [50000, 60000, 70000]}. What is the maximum Age and minimum Salary in the DataFrame?

# create the DataFrame
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Salary': [50000, 60000, 70000]
})

# find the maximum age and minimum salary using the max() and min() functions
max_age = df['Age'].max()
min_salary = df['Salary'].min()

# print the results
print(f"The maximum Age is {max_age}")
print(f"The minimum Salary is {min_salary}")

The maximum Age is 35
The minimum Salary is 50000

In [33]:
#Create a Pandas DataFrame object containing the following data: {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'Salary': [50000, 60000, 70000]}. Calculate the correlation coefficient between Age and Salary.
import pandas as pd

# create the dataframe
df = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 
                   'Salary': [50000, 60000, 70000]})

# calculate the correlation coefficient
corr_coef = df['Age'].corr(df['Salary'])

# print the correlation coefficient
print("Correlation coefficient between Age and Salary:", corr_coef)

Correlation coefficient between Age and Salary: 1.0

## Grouping and Aggregating Data

In [34]:
#Create a Pandas DataFrame object containing the following data: {'Name': ['Alice', 'Bob', 'Charlie', 'Dave', 'Eve'], 'Age': [25, 30, 35, 25, 30], 'Salary': [50000, 60000, 70000, 80000, 90000]}. Group the DataFrame by Age and calculate the mean Salary for each group.
# import pandas library
import pandas as pd

# create a dictionary with Name, Age and Salary as keys and their corresponding values
data = {'Name': ['Alice', 'Bob', 'Charlie', 'Dave', 'Eve'], 
        'Age': [25, 30, 35, 25, 30], 
        'Salary': [50000, 60000, 70000, 80000, 90000]}

# create a pandas DataFrame from the dictionary
df = pd.DataFrame(data)

# group the DataFrame by Age and calculate the mean Salary for each group
mean_salary_by_age = df.groupby('Age')['Salary'].mean()

# print the resulting Series
print(mean_salary_by_age)

Age
25    65000.0
30    75000.0
35    70000.0
Name: Salary, dtype: float64

## Reshaping Data

In [35]:
#Create a Pandas DataFrame object containing the following data: {'Year': [2019, 2019, 2020, 2020], 'Quarter': ['Q1', 'Q2', 'Q1', 'Q2'], 'Sales': [100, 200, 300, 400]}.
# Pivot the DataFrame so that the rows are indexed by Year, the columns are indexed by Quarter, and the values are the Sales.
import pandas as pd

# create the initial DataFrame
df = pd.DataFrame({
    'Year': [2019, 2019, 2020, 2020],
    'Quarter': ['Q1', 'Q2', 'Q1', 'Q2'],
    'Sales': [100, 200, 300, 400]
})

# use pivot to reorganize the DataFrame
pivot_df = df.pivot(index='Year', columns='Quarter', values='Sales')

# display the resulting DataFrame
print(pivot_df)

Quarter   Q1   Q2
Year
2019     100  200
2020     300  400

In [36]:
#Create a Pandas DataFrame object containing the following data: {'Name': ['Alice', 'Bob', 'Charlie'], 'Gender': ['F', 'M', 'M'], 'Salary 2019': [50000, 60000, 70000], 'Salary 2020': [55000, 65000, 75000]}. Melt the DataFrame so that the variable column contains the years and the value column contains the salaries.

# Create a Pandas DataFrame object
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Gender': ['F', 'M', 'M'],
        'Salary 2019': [50000, 60000, 70000],
        'Salary 2020': [55000, 65000, 75000]}
df = pd.DataFrame(data)

# Melt the DataFrame
melted_df = pd.melt(df, id_vars=['Name', 'Gender'], var_name='Year', value_name='Salary')

# Print the melted DataFrame
print(melted_df)

      Name Gender         Year  Salary
0    Alice      F  Salary 2019   50000
1      Bob      M  Salary 2019   60000
2  Charlie      M  Salary 2019   70000
3    Alice      F  Salary 2020   55000
4      Bob      M  Salary 2020   65000
5  Charlie      M  Salary 2020   75000

## Merging and Joining Data

In [37]:
#Create two Pandas DataFrame objects, df1 and df2, containing the following data: df1 = {'key': ['A', 'B', 'C', 'D'], 'value': [1, 2, 3, 4]} and df2 = {'key': ['B', 'D', 'E', 'F'], 'value': [5, 6, 7, 8]}. Merge the two DataFrames using an inner join on the 'key' column.
import pandas as pd

# create df1
df1 = pd.DataFrame({'key': ['A', 'B', 'C', 'D'], 'value': [1, 2, 3, 4]})

# create df2
df2 = pd.DataFrame({'key': ['B', 'D', 'E', 'F'], 'value': [5, 6, 7, 8]})

# merge df1 and df2 on 'key' column using inner join
merged_df = pd.merge(df1, df2, on='key', how='inner')

print(merged_df)

  key  value_x  value_y
0   B        2        5
1   D        4        6

In [38]:
#Create two Pandas DataFrame objects, df1 and df2, containing the following data: df1 = {'key': ['A', 'B', 'C', 'D'], 'value1': [1, 2, 3, 4]} and df2 = {'key': ['B', 'D', 'E', 'F'], 'value2': [5, 6, 7, 8]}. 
# Perform a left join on df1 and df2 using the 'key' column as the join key.

import pandas as pd

df1 = pd.DataFrame({'key': ['A', 'B', 'C', 'D'], 'value1': [1, 2, 3, 4]})
df2 = pd.DataFrame({'key': ['B', 'D', 'E', 'F'], 'value2': [5, 6, 7, 8]})

merged_df = pd.merge(df1, df2, on='key', how='left')
print(merged_df)

  key  value1  value2
0   A       1     NaN
1   B       2     5.0
2   C       3     NaN
3   D       4     6.0

## Mini Pandas Project

- Load the CSV file into a Pandas DataFrame object.
- Clean the data by removing any rows with missing values and any duplicate rows.
- Use NumPy to calculate the mean and standard deviation of the "births" column.
- Use Pandas to group the data by year and month, and calculate the mean number of births for each group.
- Use Matplotlib to create a line plot of the mean number of births per month over time.
- Use Pandas to group the data by day of the week, and calculate the mean number of births for each day.
- Use Matplotlib to create a bar chart of the mean number of births per day of the week.
- Use Pandas to group the data by year, and calculate the total number of births for each year.
- Use Matplotlib to create a bar chart of the total number of births per year.

>> NOTE: Below is boiler code for you to get started with.Please fill in the missing codes.

In [57]:
mean_births

year    month
1969.0  1.0      4739.935484
        2.0      4830.964286
        3.0      4781.225806
        4.0      4707.833333
        5.0      4661.580645
                    ...
1988.0  8.0      5719.338710
        9.0      5787.950000
        10.0     5348.903226
        11.0     5244.433333
        12.0     5198.822581
Name: births, Length: 240, dtype: float64

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Load the CSV file into a Pandas DataFrame object
df = pd.read_csv("../../Data/births.csv")
print(df)

# Clean the data by removing any rows with missing values and any duplicate rows
df.dropna(inplace=True) # remove rows with missing values
df.drop_duplicates(inplace=True) # remove duplicate rows

# Use NumPy to calculate the mean and standard deviation of the "births" column
mean = np.mean(df['births'])
std_dev = np.std(df['births'])
# Use Pandas to group the data by year and month, and calculate the mean number of births for each group
df['date'] = pd.to_datetime(df['year']*10000 + df['month']*100 +1, format='%Y%m%d')
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
mean_births = df.groupby(['year', 'months'])['births'].mean()

print(mean_births)

# Use Matplotlib to create a line plot of the mean number of births per month over time
# plt.plot(mean_births )
# plt.xlabel('Year-Month')
# plt.ylabel('Mean Number of Births')
# plt.title('Mean Number of Births per Month')
# plt.show()

 # Use Pandas to group the data by day of the week, and calculate the mean number of births for each day
# df['day_of_week'] = df['date'].dt.day_name()
# grouped_by_day_of_week = df.groupby('year')['births'].sum()


#  # Use Matplotlib to create a bar chart of the mean number of births per day of the week
# plt.bar(grouped_by_day_of_week.index, grouped_by_day_of_week.values)
# plt.xlabel('Day of the Week')
# plt.ylabel('Mean Number of Births')
# plt.title('Mean Number of Births per Day of the Week')
# plt.show()

#  # Use Pandas to group the data by year, and calculate the total number of births for each year
# grouped_by_year = df.groupby('year')['births'].sum()


#  # Use Matplotlib to create a bar chart of the total number of births per year
# plt.bar(grouped_by_year.index, grouped_by_year.values)
# plt.xlabel('Year')
# plt.ylabel('Total Number of Births')
# plt.title('Total Number of Births per Year')
# plt.show()

       year  month  day gender  births
0      1969      1  1.0      F    4046
1      1969      1  1.0      M    4440
2      1969      1  2.0      F    4454
3      1969      1  2.0      M    4548
4      1969      1  3.0      F    4548
...     ...    ...  ...    ...     ...
15542  2008     10  NaN      M  183219
15543  2008     11  NaN      F  158939
15544  2008     11  NaN      M  165468
15545  2008     12  NaN      F  173215
15546  2008     12  NaN      M  181235

[15547 rows x 5 columns]
month  year
1      1969    4592.812500
       1970    4723.093750
       1971    4887.906250
       1972    4321.000000
       1973    4163.796875
                  ...
12     1984    4798.777778
       1985    5018.258065
       1986    4969.158730
       1987    5170.516129
       1988    5198.822581
Name: births, Length: 240, dtype: float64