#### Pandas Assignment
Student Name: **GLORIA LOYCE NANKOMA**

Reg No: **2022/HD07/2048U**

Instructions:
Please complete the questions below.
Please comment your code indicating how you approached the problem

## Introduction to Pandas

### Create a Pandas Series object containing the following data: 5, 10, 15, 20, 25. What is the average of the values in the Series?
A Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating-point numbers, Python objects, etc.)
The pd.Series() constructor takes a variety of parameters to define the data and index of the Series. For example;

In [4]:
#import pandas as a pd alias
import pandas as pd
#create a list
data = [25, 40, 55, 70, 80]
#create a series for the list
series = pd.Series(data)
print(series)
average = series.mean()
print(average)

0    25
1    40
2    55
3    70
4    80
dtype: int64
54.0

#### Create a Pandas DataFrame object containing the following data: {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'Salary': [50000, 60000, 70000]}. What is the total salary of all employees?

In [11]:
import pandas as pd
#create a python dictionary of the keys and their values
data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'Salary': [50000, 60000, 70000]}
#create a new DataFrame object from a variety of data sources using pd.DataFrame
df = pd.DataFrame(data)
print(df)
#calculate the sum of the salaries of all employees in the DataFrame df.
total_salary = df['Salary'].sum()
print(total_salary)

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000
180000

## DataFrames and Series

### Create a Pandas Series object containing the following data: [1, 2, 3, 4, 5]. Add 10 to each value in the Series.

In [12]:
import pandas as pd

# create a Series
original_series = pd.Series([1, 2, 3, 4, 5])

# add 10 to each value in the Series
new_series = original_series + 10

print(new_series)

0    11
1    12
2    13
3    14
4    15
dtype: int64

#### Create a Pandas DataFrame object containing the following data: {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'Salary': [50000, 60000, 70000]}. Select only the rows where the Age is greater than 30.

In [13]:
import pandas as pd

#create a python dictionary of the keys and their values
data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'Salary': [50000, 60000, 70000]}
df = pd.DataFrame(data)
#pick out rows where the Age is greater than 30.
df[df['Age'] > 30]

      Name  Age  Salary
2  Charlie   35   70000

## Loading Data into Pandas

#### Load a CSV file named 'diabetes.csv' into a Pandas DataFrame object. What are the names of the columns in the DataFrame?
**Please check your data folder for this dataset**

In [16]:
import pandas as pd
file_path = '~/Desktop/Work/big-bio-data-class-2023/Data/Diabetes/diabetes.csv'
df = pd.read_csv(file_path)
print(df.columns)

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [18]:
#Display the dimensions of the data
print(df.shape)

(768, 9)

### Display the top 10 rows

In [23]:
#Display the top 10 rows
print(df.head(10))

   Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0            6      148             72             35        0  33.6
1            1       85             66             29        0  26.6
2            8      183             64              0        0  23.3
3            1       89             66             23       94  28.1
4            0      137             40             35      168  43.1
5            5      116             74              0        0  25.6
6            3       78             50             32       88  31.0
7           10      115              0              0        0  35.3
8            2      197             70             45      543  30.5
9            8      125             96              0        0   0.0

   DiabetesPedigreeFunction  Age  Outcome
0                     0.627   50        1
1                     0.351   31        0
2                     0.672   32        1
3                     0.167   21        0
4                     2.288   33        1
5                     0.201   30        0
6                     0.248   26        1
7                     0.134   29        0
8                     0.158   53        1
9                     0.232   54        1

### Display the last 10 rows

In [21]:
import pandas as pd
last_10_rows = df.tail(n=10)
print(last_10_rows)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
758            1      106             76              0        0  37.5
759            6      190             92              0        0  35.5
760            2       88             58             26       16  28.4
761            9      170             74             31        0  44.0
762            9       89             62              0        0  22.5
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age  Outcome
758                     0.197   26        0
759                     0.278   66        1
760                     0.766   22        0
761                     0.403   43        1
762                     0.142   33        0
763                     0.171   63        0
764                     0.340   27        0
765                     0.245   30        0
766                     0.349   47        1
767                     0.315   23        0

## Data Cleaning

In [ ]:
#Create a Pandas DataFrame object containing the following data: {'Name': ['Alice', 'Bob', 'Charlie', 'Dave', 'Eve'], 'Age': [25, 30, None, 35, 40], 'Salary': [50000, None, 70000, 80000, 90000]}. Remove all rows with missing values

In [ ]:
#Create a Pandas DataFrame object containing the following data: {'Name': ['Alice', 'Bob', 'Charlie', 'Dave', 'Eve'], 'Age': [25, 30, None, 35, 40], 'Salary': [50000, None, 70000, 80000, 90000]}. Fill all missing values with the average Age and the median Salary.

## Data Exploration

In [ ]:
#Create a Pandas DataFrame object containing the following data: {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'Salary': [50000, 60000, 70000]}. What is the maximum Age and minimum Salary in the DataFrame?

In [ ]:
#Create a Pandas DataFrame object containing the following data: {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'Salary': [50000, 60000, 70000]}. Calculate the correlation coefficient between Age and Salary.

## Grouping and Aggregating Data

In [ ]:
#Create a Pandas DataFrame object containing the following data: {'Name': ['Alice', 'Bob', 'Charlie', 'Dave', 'Eve'], 'Age': [25, 30, 35, 25, 30], 'Salary': [50000, 60000, 70000, 80000, 90000]}. Group the DataFrame by Age and calculate the mean Salary for each group.

## Reshaping Data

In [ ]:
#Create a Pandas DataFrame object containing the following data: {'Year': [2019, 2019, 2020, 2020], 'Quarter': ['Q1', 'Q2', 'Q1', 'Q2'], 'Sales': [100, 200, 300, 400]}. Pivot the DataFrame so that the rows are indexed by Year, the columns are indexed by Quarter, and the values are the Sales.

In [ ]:
#Create a Pandas DataFrame object containing the following data: {'Name': ['Alice', 'Bob', 'Charlie'], 'Gender': ['F', 'M', 'M'], 'Salary 2019': [50000, 60000, 70000], 'Salary 2020': [55000, 65000, 75000]}. Melt the DataFrame so that the variable column contains the years and the value column contains the salaries.

## Merging and Joining Data

In [ ]:
#Create two Pandas DataFrame objects, df1 and df2, containing the following data: df1 = {'key': ['A', 'B', 'C', 'D'], 'value': [1, 2, 3, 4]} and df2 = {'key': ['B', 'D', 'E', 'F'], 'value': [5, 6, 7, 8]}. Merge the two DataFrames using an inner join on the 'key' column.

In [ ]:
#Create two Pandas DataFrame objects, df1 and df2, containing the following data: df1 = {'key': ['A', 'B', 'C', 'D'], 'value1': [1, 2, 3, 4]} and df2 = {'key': ['B', 'D', 'E', 'F'], 'value2': [5, 6, 7, 8]}. Perform a left join on df1 and df2 using the 'key' column as the join key.

## Mini Pandas Project

- Load the CSV file into a Pandas DataFrame object.
- Clean the data by removing any rows with missing values and any duplicate rows.
- Use NumPy to calculate the mean and standard deviation of the "births" column.
- Use Pandas to group the data by year and month, and calculate the mean number of births for each group.
- Use Matplotlib to create a line plot of the mean number of births per month over time.
- Use Pandas to group the data by day of the week, and calculate the mean number of births for each day.
- Use Matplotlib to create a bar chart of the mean number of births per day of the week.
- Use Pandas to group the data by year, and calculate the total number of births for each year.
- Use Matplotlib to create a bar chart of the total number of births per year.

>> NOTE: Below is boiler code for you to get started with.Please fill in the missing codes.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Load the CSV file into a Pandas DataFrame object
df = pd.read_csv("https://raw.githubusercontent.com/jakevdp/data-CDCbirths/master/births.csv")

# Clean the data by removing any rows with missing values and any duplicate rows
df = 
df = 

# Use NumPy to calculate the mean and standard deviation of the "births" column
mean = 
std_dev = 

# Use Pandas to group the data by year and month, and calculate the mean number of births for each group
df['date'] = pd.to_datetime(df['year']*10000 + df['month']*100 + df['day'], format='%Y%m%d')
grouped_by_month = 

# Use Matplotlib to create a line plot of the mean number of births per month over time
plt.plot(grouped_by_month)
plt.xlabel('Year-Month')
plt.ylabel('Mean Number of Births')
plt.title('Mean Number of Births per Month')
plt.show()

# Use Pandas to group the data by day of the week, and calculate the mean number of births for each day
df['day_of_week'] = df['date'].dt.day_name()
grouped_by_day_of_week = 

# Use Matplotlib to create a bar chart of the mean number of births per day of the week
plt.bar(grouped_by_day_of_week.index, grouped_by_day_of_week.values)
plt.xlabel('Day of the Week')
plt.ylabel('Mean Number of Births')
plt.title('Mean Number of Births per Day of the Week')
plt.show()

# Use Pandas to group the data by year, and calculate the total number of births for each year
grouped_by_year =

# Use Matplotlib to create a bar chart of the total number of births per year
plt.bar(grouped_by_year.index, grouped_by_year.values)
plt.xlabel('Year')
plt.ylabel('Total Number of Births')
plt.title('Total Number of Births per Year')
plt.show()